body{
    background:#f5f5f5;
}

.card{
    border-radius:12px;
}


.prayer-card{
    max-width: 340px;
    margin-left: auto;      /* Pushes card to the right */
    border: none;
    border-radius: 20px;
    background: rgba(255,255,255,.95);
    backdrop-filter: blur(20px);
    box-shadow: 0 20px 40px rgba(0,0,0,.20);
    padding: 20px;
}
.prayer-card table{
    margin-bottom:15px;
}

.prayer-card td{
    padding:8px 0;
    font-size:15px;
}

.prayer-card h4{
    font-size:22px;
    margin-bottom:15px;
}



.navbar{

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    z-index: 9999;

    background: rgba(168, 190, 179, 0.92);

    backdrop-filter: blur(12px);

    box-shadow: 0 4px 20px rgba(0,0,0,.25);

    padding: 10px 0;

    transition: all .3s ease;
}

.navbar .nav-link{

    color:#fff !important;

    font-size:17px;

    font-weight:600;

    margin-left:15px;

    transition:.3s;

}

.navbar .nav-link:hover{

    color:#ffd54f !important;

}

.navbar .nav-link.active{

    color:#ffd54f !important;

}


.brand-title{

    font-size:28px;

    color:white;

    font-weight:700;

}

.brand-sub{

    color:#ffd54f;

    font-size:13px;

    letter-spacing:2px;

}

.logo{

    width:60px;

    height:60px;

    border-radius:50%;

    background:white;

    padding:3px;

}

.nav-link{

    position:relative;

}

.nav-link::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-4px;

    width:0;

    height:2px;

    background:#ffd54f;

    transition:.3s;

}

.nav-link:hover::after{

    width:100%;

}

.topbar {
    border-left: 4px solid #198754; /* Green accent */
    min-height: 70px;
}

.topbar strong {
    font-size: 1rem;
}

.topbar small {
    font-size: 0.8rem;
}

