{% extends 'base_admin.html' %}

{% block content %}

<div class="container">

<h2 class="mb-4">
    🕌 Prayer Time Management
</h2>

<table class="table table-bordered table-hover">

<thead class="table-success">

<tr>

<th>#</th>
<th>Prayer</th>
<th>Time</th>
<th>Action</th>

</tr>

</thead>

<tbody>

{% for p in prayers %}

<tr>

<td>{{ loop.index }}</td>

<td>{{ p.prayer_name }}</td>

<td>{{ p.prayer_time.strftime('%I:%M %p') }}</td>

<td>

<a
href="{{ url_for('prayer.edit_prayer_time', id=p.id) }}"
class="btn btn-warning btn-sm">

<i class="bi bi-pencil"></i>

Edit

</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}